@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: white;

}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../assets/rest-background.jpg');
    background-size: cover;

}

.restaurant-template {
    max-width: 80%;
    margin: auto;
}

/* HOME */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 33px;
    background-color: rgb(214, 214, 214);
    padding: 20px 50px;
    margin: 40px 0;
}

.restname p {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: black;
}

.nav-links {
    display: flex;
    gap: 50px;

}

.nav-links button {
    color: black;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
}

.nav-links button:hover {
    cursor: pointer;
    font-size: 16px;

}

.home-intro span {
    font-size: large;
}

.home-intro {
    margin-top: 16%;
    display: flex;
    flex-direction: column;
}

.home-intro>p,
.home-intro>span {
    margin-bottom: 20px;
}

.home-intro span {
    font-size: large;
}


.home-intro button {
    font-weight: 600;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
    padding: 12px;
    max-width: 18%;
    text-align: center;
    border-radius: 33px;
    border: 1px solid white;
}

.home-intro button:hover {
    cursor: pointer;
    font-size: 15px;
    padding: 14px;
}

.contact-details {
    margin-top: 16%;
}

.food-items {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 3px;
}

.food-items>div {
    padding: 18px;
    font-size: 30px;
    text-align: start;
}

.food-items>div {
    padding: 18px;
    font-size: 30px;
    text-align: start;
    
}

.food-title{
    font-size: 23px;
    font-weight:300;
    font-style: italic;
}

.food1 {
    background-image: url("../assets/Food1.png");
    background-size: cover;
    background-position: center;
    height: 20vh;
    width: 20vw;
    margin-bottom: 20px;
    border-radius: 12px;
}

.food2 {
    background-image: url("../assets/Food2.png");
    background-size: cover;
    background-position: center;
    height: 20vh;
    width: 20vw;
    margin-bottom: 20px;
    border-radius: 12px;
}

.food3 {
    background-image: url("../assets/Food3.png");
    background-size: cover;
    background-position: center;
    height: 20vh;
    width: 20vw;
    margin-bottom: 20px;
    border-radius: 12px;
}

.food4 {
    background-image: url("../assets/Food4.png");
    background-size: cover;
    background-position: center;
    height: 20vh;
    width: 20vw;
    margin-bottom: 20px;
    border-radius: 12px;
}

.food5 {
    background-image: url("../assets/Food5.png");
    background-size: cover;
    background-position: center;
    height: 20vh;
    width: 20vw;
    margin-bottom: 20px;
    border-radius: 12px;
}

.food6 {
    background-image: url("../assets/Food6.png");
    background-size: cover;
    background-position: center;
    height: 20vh;
    width: 20vw;
    margin-bottom: 20px;
    border-radius: 12px;
}